.siteMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding: 2rem;
  margin-bottom: 3rem;

  &__link {
    color: #404040;

    &--active {
      color: #4D861F;
    }
  }
}