.news-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

  &__content {
    overflow: hidden;
    transition: height 1s ease-in;
  }
}
.news-category span {
  display: flex;
  align-items: center;
  gap: 1rem;
}
details>summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none
}
summary::after {
  content: image-set("src/assets/images/chevron-right.svg");
}
details[open] summary:after {
  content: image-set("src/assets/images/chevron-down.svg");
}